{{define "title"}} Home {{end}}

{{define "main"}}
  <h2>Latest Snippets</h2>
  {{if .LatestSnippets}}
  <table>
    <tr> 
      <th>Title</th>
      <th>Created</th>
      <th>ID</th>
    </tr>
    <!-- For each of snippets in the LatestSnippets -->
    {{range .LatestSnippets}}
    <tr> 
      <td><a href = '/snippet/view?snippetId={{.ID}}'> {{.Title}}</a></td>
      <td> {{humanDate .CreationTime}} </td>
      <td> #{{.ID}}</td>
    </tr>
    {{end}}
  </table>
  {{else}}
    <p> There are no snippets available at the moment</p>
  {{end}}
{{end}}

