{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
  <!-- if .Snippet is not empty sets the . to the current Snippet -->
  {{with .Snippet}}
    <div class='snippet'>
      <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
      </div>
      <pre><code>{{.Content}}</code></pre>
      <div class='metadata'>
        <!-- | is similar to linux piping -->
        <time>Created: {{.CreationTime | humanDate}}</time>
        <time>Expires: {{.ExpriyTime | humanDate}}</time>
      </div>
    </div>
  {{end}}
{{end}}

